{% extends 'myapp/base.html' %}
{% load static %}

{% block titulo %}Ohfer - Inicio{% endblock %} {# Nuevo título para la pestaña del navegador #}

{% block contenido %}
<div class="text-center py-5">
    <h1 class="display-4 mb-3 text-primary">Ohfer</h1> {# Título principal #}
    <p class="lead mb-4 text-secondary">Sucursales de ventas de videojuegos y productos electrónicos</p> {# Subtítulo #}
    <img src="{% static 'myapp/img/django_logo.png' %}" alt="Logo Django" class="img-fluid my-4" style="max-height: 200px;">
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="{% url 'crear_producto' %}" class="btn btn-primary btn-lg">Publicar Producto</a> {# Cambiamos el botón principal #}
        <a href="{% url 'buscar_resultados' %}" class="btn btn-secondary btn-lg">Buscar Productos</a>
    </div>
</div>
{% endblock %}